@charset "UTF-8";
.bton3--facebook {
  background-color: #3b5998; }

.bton3--instagram {
  background-color: #833AB4; }

.bton3--youtube {
  background-color: #c4302b; }

.bton3--whatsapp {
  background-color: #075e54; }

.bton3--facebook {
  background-color: #3b5998; }

.bton3--instagram {
  background-color: #833AB4; }

.bton3--youtube {
  background-color: #c4302b; }

.bton3--whatsapp {
  background-color: #075e54; }

.header {
  background-color: #2c2c2c;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 9;
  height: 65px; }
  .header div {
    display: flex;
    flex-direction: row;
    align-items: center; }

.logo {
  width: 400px;
  height: 55px;
  object-fit: cover;
  object-position: center;
  animation-name: animacion;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-timing-function: linear; }

.logo2 {
  display: none; }

.bton3--facebook {
  background-color: #3b5998; }

.bton3--instagram {
  background-color: #833AB4; }

.bton3--youtube {
  background-color: #c4302b; }

.bton3--whatsapp {
  background-color: #075e54; }

.pie {
  margin-top: 150px;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  color: aliceblue; }

.pie__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px; }
  .pie__links div {
    display: flex;
    justify-content: space-evenly;
    gap: 100px; }
  .pie__links a {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s; }
    .pie__links a:hover {
      font-size: 50px; }
  .pie__links .fa-facebook:hover {
    color: #3b5998;
    transition: 0.2s; }
  .pie__links .fa-instagram:hover {
    color: #833AB4;
    transition: 0.2s; }
  .pie__links .fa-youtube:hover {
    color: #c4302b;
    transition: 0.2s; }

.pie__legal {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid white; }

.container-fluid {
  margin: 0%;
  background-image: linear-gradient(#d1cfcf, #fff); }

@keyframes animacion {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; }
  .navbar a {
    color: aliceblue;
    text-decoration: none; }
    .navbar a:hover {
      border-bottom: 2px solid #0b7fc7; }

.navbar__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 30px;
  gap: 50px; }
  .navbar__nav li:hover .navbar__subnav {
    display: block;
    left: 0%;
    width: 90%; }
  .navbar__nav li ul {
    list-style: none; }
  .navbar__nav .navbar__subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 70%;
    left: -100%;
    padding: 20px;
    margin-left: 20%;
    background-image: url(../multimedia/2081);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    animation-name: animacion;
    animation-duration: 0.2s; }
    .navbar__nav .navbar__subnav a {
      color: black;
      font-weight: bold; }
    .navbar__nav .navbar__subnav ul li {
      position: relative;
      display: block;
      color: black; }

.navbar__icon img {
  width: 30px;
  height: 30px;
  display: none; }

#toggler {
  display: none; }

/*CORRUSEL*/
.carousel {
  margin-top: 10px; }

.carousel-item {
  width: 100%;
  height: 800px;
  background-color: black;
  background-blend-mode: soft-light; }
  .carousel-item img {
    object-fit: cover;
    width: 50%;
    height: 100%;
    opacity: 30%; }

.carousel-caption {
  transform: translateY(-300px); }
  .carousel-caption h5 {
    font-size: 60px; }
  .carousel-caption p {
    color: #b3b3b3; }

/*MENU*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  margin-top: 15px;
  height: 850px; }
  .menu p {
    font-size: 18px;
    text-align: justify;
    line-height: 25px; }
  .menu section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px; }
  .menu .img {
    border-radius: 5%;
    width: 40%;
    height: 60%;
    box-shadow: -10px 10px 20px 0px black; }
  .menu h2 {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold; }

.navimg {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.navimg__item1 {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../multimedia/208-MastheadComponent-Desktop.png);
  background-size: 180%;
  background-position: center;
  align-items: flex-end;
  transition: all 1s; }
  .navimg__item1:hover {
    background-size: 200%;
    background-position: center; }
  .navimg__item1 a {
    color: aliceblue;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    transform: translateY(-50px);
    transition: 1s all; }
    .navimg__item1 a:hover {
      border: 1px solid #a5a5a5;
      color: #a5a5a5; }

.navimg__item2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-image: url(../multimedia/AP_2018_ATELIER-VIDANGE_WORKSHOP-DRAIN_002_1214x1020.jpg);
  background-size: 120%;
  background-position: center;
  align-items: flex-end;
  transition: all 1s; }
  .navimg__item2:hover {
    background-size: 140%;
    background-position: center; }
  .navimg__item2 a {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid #fff;
    transform: translateY(-50px);
    transition: 1s all; }
    .navimg__item2 a:hover {
      border: 1px solid #a5a5a5;
      color: #a5a5a5; }

.navimg__item3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-image: url(../multimedia/fases-de-una-consultoría-integral.jpg);
  background-size: 180%;
  background-position: center;
  align-items: flex-end;
  transition: all 1s; }
  .navimg__item3:hover {
    background-size: 200%;
    background-position: center; }
  .navimg__item3 a {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid #fff;
    transform: translateY(-50px);
    transition: 1s all; }
    .navimg__item3 a:hover {
      border: 1px solid #a5a5a5;
      color: #a5a5a5; }

.razones {
  background: linear-gradient(45deg, #3374db 70%, #fff 30%);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px; }
  .razones div h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    text-decoration: underline; }
  .razones .razones1 {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly; }
    .razones .razones1 div img {
      width: 610px;
      height: 610px; }
    .razones .razones1 .razones__card {
      background-color: #2c2c2c;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 350px; }
      .razones .razones1 .razones__card div img {
        background-blend-mode: soft-light;
        max-width: 100%;
        height: 220px;
        object-fit: cover;
        opacity: 50%; }
        .razones .razones1 .razones__card div img:hover {
          opacity: 100%;
          background-blend-mode: luminosity; }
      .razones .razones1 .razones__card .razones__cuerpo {
        color: aliceblue; }
        .razones .razones1 .razones__card .razones__cuerpo h4 {
          display: flex;
          flex-direction: row;
          justify-content: center; }
        .razones .razones1 .razones__card .razones__cuerpo p {
          text-align: center; }

/*SECCION OKM*/
.navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbar1 .navbar1__nav {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-right: 30px;
    gap: 50px; }
    .navbar1 .navbar1__nav li {
      list-style: none;
      display: flex; }
      .navbar1 .navbar1__nav li a {
        text-decoration: none;
        color: aliceblue; }
        .navbar1 .navbar1__nav li a:hover {
          border-bottom: 2px solid #0b7fc7; }

.menu1 {
  padding-top: 70px; }
  .menu1 p a {
    text-decoration: none;
    color: aliceblue; }

.menu1__marca__itemA {
  margin-top: 50px;
  background-color: darkblue;
  display: flex;
  color: aliceblue;
  font-size: 30px;
  margin-right: 70%;
  margin-left: 15px;
  transform: skew(-35deg); }

.menu1__marca__itemB {
  margin-top: 10px;
  background-color: darkblue;
  display: flex;
  justify-content: start;
  color: aliceblue;
  font-size: 30px;
  margin-left: 27.5%;
  margin-right: 25px;
  transform: skew(-35deg); }

.menu1__marca__itemC {
  margin-top: 10px;
  background-color: darkblue;
  display: flex;
  justify-content: start;
  color: aliceblue;
  font-size: 30px;
  margin-left: 26%;
  margin-right: 45px;
  transform: skew(-35deg); }

.contenedor {
  margin-top: 80px;
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  cursor: pointer;
  height: 500px; }

.contenedor__slide {
  position: relative;
  height: 100%;
  flex: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out; }
  .contenedor__slide:hover {
    flex-grow: 5; }
  .contenedor__slide:nth-child(1) {
    background-image: url(../multimedia/territory);
    background-size: cover;
    background-position: center; }
  .contenedor__slide:nth-child(2) {
    background-image: url(../multimedia/peugeot-208-lightspeed.jpg);
    background-position: center;
    background-size: cover; }
  .contenedor__slide:nth-child(3) {
    background-image: url(../multimedia/c4);
    background-size: cover;
    background-position: center; }
  .contenedor__slide:nth-child(4) {
    background-image: url(../multimedia/3008ESTORE.jpg);
    background-size: cover;
    background-position: center; }
  .contenedor__slide:nth-child(5) {
    background-image: url(../multimedia/ranger-raptor);
    background-size: cover;
    background-position: center; }

.tabla {
  margin-top: 650px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tabla h2 {
    text-decoration: underline; }
  .tabla table {
    margin-top: 50px;
    width: 70%; }

/*SECCION USADOS*/
.cabeza2__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .cabeza2__navbar ul {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 10px;
    gap: 50px; }
    .cabeza2__navbar ul li {
      list-style: none; }
      .cabeza2__navbar ul li a {
        text-decoration: none;
        color: aliceblue; }
        .cabeza2__navbar ul li a:hover {
          border-bottom: 2px solid #0b7fc7; }

.menu2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column; }
  .menu2 h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold; }
  .menu2 p {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: large; }

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .tarjetas .card {
    max-width: 100%;
    background-color: #a5a5a5;
    margin-right: 30px;
    display: flex;
    margin-bottom: 15px; }
    .tarjetas .card img {
      max-width: 100%;
      height: 400px;
      object-fit: cover; }
    .tarjetas .card .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .tarjetas .card .card-body .btn {
        background-color: rgba(0, 0, 0, 0.5); }
        .tarjetas .card .card-body .btn:hover {
          background-color: deepskyblue; }
    .tarjetas .card a {
      color: aliceblue;
      border: 1px solid aliceblue;
      text-decoration: none;
      padding: 5px;
      margin-bottom: 20px; }

/*SERVICIOS*/
.menu3 img {
  width: 910px;
  height: 710px;
  object-fit: cover;
  object-position: center; }

.menu3 .menu3__taller1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(-160deg, #fff 70%, #3374db 30%); }
  .menu3 .menu3__taller1 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder; }
  .menu3 .menu3__taller1 div img {
    max-width: 100%;
    max-height: 100%;
    padding: 30px; }

.menu3 .menu3__taller2 {
  background: linear-gradient(160deg, #b3b3b3 70%, #3374db 30%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .menu3 .menu3__taller2 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    text-align: center;
    font-weight: lighter;
    font-size: x-large; }
  .menu3 .menu3__taller2 div img {
    max-width: 100%;
    max-height: 100%;
    padding: 30px; }

.pie--usados {
  margin-top: 0%; }

/*CONTACTOS*/
/*CONTACTOS*/
* {
  margin: 0%;
  padding: 0%; }

.cabeza4__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; }
  .cabeza4__navbar a {
    color: aliceblue;
    text-decoration: none; }
    .cabeza4__navbar a:hover {
      border-bottom: 2px solid #0b7fc7; }
  .cabeza4__navbar li {
    list-style: none; }
    .cabeza4__navbar li:hover #nav1 {
      display: block;
      left: 0%; }
    .cabeza4__navbar li:hover #nav2 {
      display: flex;
      flex-direction: column;
      position: relative; }
  .cabeza4__navbar .navbar4__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px; }
    .cabeza4__navbar .navbar4__nav #nav1 {
      display: none;
      position: absolute;
      background-color: #fff;
      width: 70%;
      left: -100%;
      padding: 20px;
      margin-left: 35%;
      background-image: url(../multimedia/2081);
      background-size: 25%;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: center;
      animation-name: animacion;
      animation-duration: 0.2s; }
      .cabeza4__navbar .navbar4__nav #nav1 a {
        color: black;
        font-weight: bold; }
    .cabeza4__navbar .navbar4__nav #nav2 {
      display: none;
      position: absolute; }

.contacto {
  background-image: url(../multimedia/atencion);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  color: aliceblue; }
  .contacto img {
    max-height: 100%; }
  .contacto .divCont {
    background-color: rgba(0, 0, 0, 0.398);
    display: flex;
    flex-direction: column; }
    .contacto .divCont h3 {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .contacto .divCont p {
      display: flex;
      flex-direction: row; }
  .contacto .consultas {
    margin-top: 20px;
    height: 120px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-start-start-radius: 20%;
    border-end-end-radius: 20%; }
    .contacto .consultas p {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .contacto .consultas div {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .contacto .consultas div a {
        color: aliceblue;
        text-decoration: none;
        border-radius: 10px;
        width: 100px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.3s; }
        .contacto .consultas div a:hover {
          width: 105px;
          height: 35px; }

/*FORM*/
.formCont {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .formCont div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .formCont .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #bdb9b996;
    box-shadow: -10px 0px 10px 0px black, 10px 0px 10px 0px black;
    border-radius: 3%; }
    .formCont .formulario .form-select {
      margin-top: 15px; }
    .formCont .formulario .input-group {
      margin-top: 15px; }
    .formCont .formulario .mb-3 {
      margin-top: 15px;
      width: 100%; }
    .formCont .formulario .area {
      height: 100px;
      transition: 1s; }
      .formCont .formulario .area:focus {
        height: 300px; }
    .formCont .formulario .bton {
      display: flex;
      gap: 10px;
      margin-top: 20px; }
      .formCont .formulario .bton .bton1, .formCont .formulario .bton .bton2 {
        width: 200px;
        height: 40px;
        padding: 5px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 3px darkblue; }
        .formCont .formulario .bton .bton1:focus, .formCont .formulario .bton .bton2:focus {
          background-color: #789ec1; }

.bton3--facebook {
  background-color: #3b5998; }

.bton3--instagram {
  background-color: #833AB4; }

.bton3--youtube {
  background-color: #c4302b; }

.bton3--whatsapp {
  background-color: #075e54; }

/*MEDIA QUERI INDEX*/
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: none;
    padding-top: 10px;
    height: 80px; }
  .logo {
    display: none; }
  .logo2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 150px;
    height: 50px;
    object-fit: scale-down; }
  .navbar__checkbtn {
    display: block; }
  .navbar__icon {
    position: fixed;
    right: 20px;
    top: 20px;
    filter: invert(1); }
    .navbar__icon img {
      display: block; }
  .navbar {
    flex-direction: row;
    justify-content: space-between; }
  .navbar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 10px;
    top: 70px;
    left: -100%;
    background-color: #2c2c2c;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s; }
    .navbar__nav a {
      font-weight: normal; }
  #toggler:checked ~ .navbar__nav {
    left: 0%; }
  .navbar__subnav {
    background-image: none; }
  .carousel {
    display: none; }
  .menu {
    margin-top: 60px;
    height: auto;
    width: 100%;
    margin-left: 0%; }
    .menu article {
      width: auto;
      margin-top: 30px; }
    .menu .img {
      width: 80%; }
  .navimg .navimg__item1 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px; }
    .navimg .navimg__item1:hover {
      height: 300px; }
  .navimg .navimg__item2 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px; }
    .navimg .navimg__item2:hover {
      height: 300px; }
  .navimg .navimg__item3 {
    width: 300px;
    height: 300px; }
    .navimg .navimg__item3:hover {
      height: 300px; }
    .navimg .navimg__item3 a {
      font-size: 16px;
      width: 350px;
      height: 70px; }
  .razones {
    background: linear-gradient(45deg, #3374db 50%, #fff 50%);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1300px; }
    .razones div h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black; }
    .razones .razones1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center; }
      .razones .razones1 .razones__card {
        align-self: center;
        margin-top: 20px; }
  .pie {
    margin-top: 50px; }
    .pie .pie__legal {
      display: flex;
      align-items: flex-start; }
    .pie .pie__links {
      display: flex;
      flex-direction: column;
      font-size: 20px; }
      .pie .pie__links div {
        display: flex;
        justify-content: space-evenly; } }

/*MEDIA 768 A 992*/
@media (min-width: 768px) and (max-width: 992px) {
  .navbar {
    justify-content: space-between; }
    .navbar a {
      padding-right: 0px; }
    .navbar .navbar__checkbtn {
      display: block; }
    .navbar .navbar__icon {
      position: fixed;
      right: 20px;
      top: 15px;
      filter: invert(1); }
      .navbar .navbar__icon img {
        display: block; }
    .navbar .navbar__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      gap: 0px;
      top: 70px;
      left: -100%;
      background-color: #2c2c2c;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s; }
      .navbar .navbar__nav li {
        padding: 0.5rem; }
      .navbar .navbar__nav a {
        font-weight: normal; }
    .navbar #toggler:checked ~ .navbar__nav {
      left: 0%; }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .menu article {
      margin-top: 30px;
      width: auto; }
    .menu .img {
      width: 40%;
      height: 40%;
      border-radius: 5%; }
  .navimg__item1 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px; }
    .navimg__item1 a {
      font-size: 16px; }
    .navimg__item1:hover {
      height: 400px; }
  .navimg__item2 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px; }
    .navimg__item2 a {
      font-size: 16px; }
    .navimg__item2:hover {
      height: 400px; }
  .navimg__item3 {
    width: 400px;
    height: 400px; }
    .navimg__item3:hover {
      height: 400px; }
  .razones {
    background: linear-gradient(45deg, #3374db 50%, #fff 50%);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1500px; }
    .razones div h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black; }
    .razones .razones1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .razones .razones1 .razones__card {
        margin-top: 20px; } }

/*MEDIA QUERIES 0KM*/
@media (max-width: 768px) {
  .navbar1 {
    flex-direction: column;
    justify-content: start; }
    .navbar1 .navbar1__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 70px;
      z-index: 4;
      left: -100%;
      background-color: #2c2c2c;
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s;
      padding: 5px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }
  #toggler:checked ~ .navbar1__nav {
    left: 0%; }
  .menu1__marca__itemA {
    font-size: 20px;
    margin-right: 0%;
    margin-left: 0%;
    transform: skew(0deg); }
  .menu1__marca__itemB {
    color: aliceblue;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg); }
  .menu1__marca__itemC {
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg); }
  .contenedor {
    display: flex;
    flex-direction: column; } }

@media (min-width: 768px) and (max-width: 992px) {
  .header--okm {
    padding-top: 5px;
    padding-bottom: 5px; }
  .navbar__checkbtn {
    display: block; }
  .navbar__icon {
    position: fixed;
    right: 20px;
    top: 15px;
    filter: invert(1); }
    .navbar__icon img {
      display: block; }
  .navbar1 {
    flex-direction: column;
    justify-content: start; }
    .navbar1 .navbar1__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 50px;
      left: -100%;
      background-color: #2c2c2c;
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s;
      padding: 5px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }
  #toggler:checked ~ .navbar1__nav {
    left: 0%; } }

/*USADOS*/
@media (max-width: 768px) {
  .cabeza2__navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: #2c2c2c;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s; }
  #toggler:checked ~ ul {
    left: 0%; }
  .menu2 {
    justify-content: center; }
  .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto; }
    .tarjetas .card {
      display: flex;
      align-self: center;
      width: 250px;
      height: 400px;
      white-space: nowrap; }
    .tarjetas .card img {
      width: 100%;
      height: 200px;
      object-fit: cover; } }

@media (min-width: 768px) and (max-width: 992px) {
  .cabeza2__navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 50px;
    left: -100%;
    background-color: #2c2c2c;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s; }
  #toggler:checked ~ ul {
    left: 0%; }
  .menu2 {
    display: flex;
    justify-content: center; }
    .menu2 h3 {
      text-align: center;
      font-weight: bold; }
    .menu2 article p {
      margin-top: 10px;
      font-size: medium;
      text-align: center; }
  .card {
    width: 350px;
    height: 450px; } }

/*SERVICIOS*/
@media (max-width: 768px) {
  .menu3 .menu3__taller1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: flex-end; }
    .menu3 .menu3__taller1 div img {
      max-width: 100%;
      height: 70%;
      padding: 40px;
      object-fit: cover;
      object-position: center; }
    .menu3 .menu3__taller1 p {
      font-size: 20px; }
  .menu3 .menu3__taller2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .menu3 .menu3__taller2 div img {
      max-width: 100%;
      height: 70%;
      align-self: center;
      padding: 40px; }
    .menu3 .menu3__taller2 p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      font-size: 16px; }
  .pie--usados {
    margin-top: 0%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .menu3 img {
    width: 710px;
    height: 610px; }
  .menu3 .menu3__taller1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-content: center; }
    .menu3 .menu3__taller1 img {
      max-width: 100%;
      max-height: 100%;
      padding: 50px; }
    .menu3 .menu3__taller1 p {
      align-self: center; }
  .menu3 .menu3__taller2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
    .menu3 .menu3__taller2 div img {
      max-height: 100%;
      max-width: 100%;
      padding: 50px; }
    .menu3 .menu3__taller2 p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      font-size: large; }
  .pie--usados {
    margin-top: 0%; } }

/*CONTACTO*/
@media (max-width: 768px) {
  .cabeza4__navbar {
    display: flex;
    flex-direction: row; }
    .cabeza4__navbar .navbar4__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      padding: 10px;
      top: 70px;
      left: -100%;
      background-color: #2c2c2c;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s; }
      .cabeza4__navbar .navbar4__nav a {
        color: aliceblue; }
      .cabeza4__navbar .navbar4__nav #nav1 {
        background-color: #a5a5a5;
        background-image: none; }
        .cabeza4__navbar .navbar4__nav #nav1 a {
          color: aliceblue; }
        .cabeza4__navbar .navbar4__nav #nav1 li {
          color: black; }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .formCont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
    margin-top: 50px; }
    .formCont .bton {
      justify-content: center; } }

/*MEDIA 768 a 992*/
@media (min-width: 768px) and (max-width: 992px) {
  .divCont {
    display: flex;
    justify-content: center; }
  .cabeza4__navbar {
    display: flex;
    flex-direction: row; }
    .cabeza4__navbar .navbar4__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      padding: 10px;
      top: 70px;
      left: -100%;
      background-color: #2c2c2c;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s; }
      .cabeza4__navbar .navbar4__nav a {
        color: aliceblue; }
      .cabeza4__navbar .navbar4__nav #nav1 {
        background-color: #a5a5a5;
        background-image: none; }
        .cabeza4__navbar .navbar4__nav #nav1 a {
          color: aliceblue; }
        .cabeza4__navbar .navbar4__nav #nav1 li {
          color: black;
          padding: 10px; }
  .formCont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    margin-top: 50px; } }
