.bton3--facebook {
  background-color: #3b5998; }

.bton3--instagram {
  background-color: #833AB4; }

.bton3--youtube {
  background-color: #c4302b; }

.bton3--whatsapp {
  background-color: #075e54; }

.header {
  background-color: #2c2c2c;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 9;
  height: 65px; }
  .header div, .header .menuNovedades .ford div, .menuNovedades .ford .header div {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header div .logo {
      width: 400px;
      height: 50px;
      object-fit: cover;
      object-position: center;
      animation-name: animacion;
      animation-duration: 2s;
      animation-iteration-count: initial;
      animation-timing-function: linear; }
    .header div .logo2 {
      display: none; }
  .header .navbar {
    display: flex; }
    .header .navbar .navbar__icon img {
      width: 30px;
      height: 30px;
      display: none; }
    .header .navbar #toggler {
      display: none; }
    .header .navbar .navbar__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
      padding-top: 10px;
      padding-right: 30px; }
      .header .navbar .navbar__nav .navbar__subnav {
        position: absolute;
        background-color: #fff;
        width: 100%;
        right: 0;
        height: 50vh;
        background-image: url(../multimedia/2081.jpg);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: center;
        display: none; }
        .header .navbar .navbar__nav .navbar__subnav a {
          color: black;
          font-weight: bold; }
        .header .navbar .navbar__nav .navbar__subnav ul li {
          padding: 25px; }
      .header .navbar .navbar__nav li {
        list-style: none; }
        .header .navbar .navbar__nav li:hover .navbar__subnav {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly; }
        .header .navbar .navbar__nav li a {
          text-decoration: none;
          color: aliceblue;
          text-decoration: none; }
          .header .navbar .navbar__nav li a:hover {
            border-bottom: 2px solid #0b7fc7; }

.bton3--facebook {
  background-color: #3b5998; }

.bton3--instagram {
  background-color: #833AB4; }

.bton3--youtube {
  background-color: #c4302b; }

.bton3--whatsapp {
  background-color: #075e54; }

.pie {
  margin-top: 150px;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  color: aliceblue; }

.pie__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  height: 80px; }
  .pie__links div, .pie__links .menuNovedades .ford div, .menuNovedades .ford .pie__links div {
    display: flex;
    justify-content: space-evenly;
    gap: 100px; }
  .pie__links a {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s; }
    .pie__links a:hover {
      font-size: 50px; }
  .pie__links .fa-facebook:hover {
    color: #3b5998;
    transition: 0.2s; }
  .pie__links .fa-instagram:hover {
    color: #833AB4;
    transition: 0.2s; }
  .pie__links .fa-youtube:hover {
    color: #c4302b;
    transition: 0.2s; }

.pie__legal {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid white; }

.container-fluid {
  margin: 0%;
  background-image: linear-gradient(#d1cfcf, #fff);
  font-family: "Lexend Exa", sans-serif; }

@keyframes animacion {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.carousel * {
  padding: 0%; }

.carousel .carousel-indicators {
  margin: 0%;
  padding-bottom: 15px; }

.carousel .carousel-item {
  width: 100%;
  height: 800px;
  background-color: black;
  background-blend-mode: soft-light; }
  .carousel .carousel-item img {
    object-fit: cover;
    width: 50%;
    height: 100%;
    opacity: 30%; }

.carousel .carousel-caption {
  transform: translateY(-300px); }
  .carousel .carousel-caption h5 {
    font-size: 60px; }
  .carousel .carousel-caption p {
    color: #b3b3b3; }

.carruseldemovil {
  height: 60vh;
  overflow: hidden;
  display: none; }
  .carruseldemovil .carruselItem {
    padding: 0%;
    height: 100%;
    position: relative;
    background-color: black;
    background-blend-mode: soft-light; }
    .carruseldemovil .carruselItem .tarjetitas {
      height: 100%;
      color: #fff; }
      .carruseldemovil .carruselItem .tarjetitas img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 50%; }
      .carruseldemovil .carruselItem .tarjetitas h3 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center; }
    .carruseldemovil .carruselItem .flechas {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      z-index: 4; }
      .carruseldemovil .carruselItem .flechas i {
        color: #fff; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  margin-top: 15px;
  height: 850px; }
  .menu section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px; }
    .menu section h2 {
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
    .menu section p {
      font-size: 18px;
      text-align: justify;
      line-height: 25px; }
      .menu section p span {
        color: #3374db;
        font-weight: bold; }
  .menu img {
    padding: 0%;
    border-radius: 5%;
    width: 40%;
    height: 60%;
    box-shadow: -10px 10px 20px 0px black; }

.navimg {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .navimg .navimg__item1 {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../multimedia/208-MastheadComponent-Desktop.png);
    background-size: 180%;
    background-position: center;
    align-items: flex-end;
    transition: all 1s; }
    .navimg .navimg__item1:hover {
      background-size: 200%;
      background-position: center; }
    .navimg .navimg__item1 a {
      color: aliceblue;
      text-decoration: none;
      border: 1px solid #fff;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      transform: translateY(-50px);
      transition: 1s all; }
      .navimg .navimg__item1 a:hover {
        border: 1px solid #a5a5a5;
        color: #a5a5a5; }
  .navimg .navimg__item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-image: url(../multimedia/AP_2018_ATELIER-VIDANGE_WORKSHOP-DRAIN_002_1214x1020.jpg);
    background-size: 120%;
    background-position: center;
    align-items: flex-end;
    transition: all 1s; }
    .navimg .navimg__item2:hover {
      background-size: 140%;
      background-position: center; }
    .navimg .navimg__item2 a {
      color: aliceblue;
      background-color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 50px;
      border: 1px solid #fff;
      transform: translateY(-50px);
      transition: 1s all; }
      .navimg .navimg__item2 a:hover {
        border: 1px solid #a5a5a5;
        color: #a5a5a5; }
  .navimg .navimg__item3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-image: url(../multimedia/consultoria.jpg);
    background-size: 180%;
    background-position: center;
    align-items: flex-end;
    transition: all 1s; }
    .navimg .navimg__item3:hover {
      background-size: 200%;
      background-position: center; }
    .navimg .navimg__item3 a {
      color: aliceblue;
      background-color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 80px;
      border: 1px solid #fff;
      transform: translateY(-50px);
      transition: 1s all; }
      .navimg .navimg__item3 a:hover {
        border: 1px solid #a5a5a5;
        color: #a5a5a5; }

.razones {
  background: linear-gradient(45deg, #3374db 70%, #a5a5a5 30%);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px; }
  .razones div h2, .razones .menuNovedades .ford div h2, .menuNovedades .ford .razones div h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    text-decoration: underline; }
  .razones .razones1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .razones .razones1 div img {
      width: 610px;
      height: 610px; }
    .razones .razones1 .razones__card {
      background-color: #2c2c2c;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 520px;
      max-width: 100%; }
      .razones .razones1 .razones__card div img {
        background-blend-mode: soft-light;
        max-width: 100%;
        height: 280px;
        padding-left: 5px;
        padding-right: 5px;
        object-fit: cover;
        opacity: 50%; }
        .razones .razones1 .razones__card div img:hover {
          opacity: 100%;
          background-blend-mode: luminosity; }
      .razones .razones1 .razones__card .razones__cuerpo {
        color: aliceblue;
        margin-top: 5px; }
        .razones .razones1 .razones__card .razones__cuerpo h4 {
          text-align: start; }
        .razones .razones1 .razones__card .razones__cuerpo p {
          text-align: justify; }

.menu1 {
  padding-top: 70px; }
  .menu1 article h2 {
    font-weight: bold; }
  .menu1 article a {
    color: #3374db; }
  .menu1 article span {
    color: #3374db;
    font-weight: bold; }
  .menu1 .menu1__marca__itemA {
    margin-top: 50px;
    background-color: darkblue;
    display: flex;
    color: aliceblue;
    font-size: 30px;
    margin-right: 70%;
    margin-left: 15px;
    transform: skew(-35deg); }
  .menu1 .menu1__marca__itemB {
    margin-top: 10px;
    background-color: darkblue;
    display: flex;
    justify-content: start;
    color: aliceblue;
    font-size: 30px;
    margin-left: 27.5%;
    margin-right: 25px;
    transform: skew(-35deg); }
  .menu1 .menu1__marca__itemC {
    margin-top: 10px;
    background-color: darkblue;
    display: flex;
    justify-content: start;
    color: aliceblue;
    font-size: 30px;
    margin-left: 26%;
    margin-right: 45px;
    transform: skew(-35deg); }

.contenedor {
  padding: 0%;
  margin-top: 80px;
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  cursor: pointer;
  height: 500px; }
  .contenedor .contenedor__slide {
    position: relative;
    height: 100%;
    flex: 1;
    overflow: hidden;
    transition: 0.5s ease-in-out; }
    .contenedor .contenedor__slide:hover {
      flex-grow: 5; }
    .contenedor .contenedor__slide:nth-child(1) {
      background-image: url(../multimedia/territory.jpg);
      background-size: cover;
      background-position: center; }
    .contenedor .contenedor__slide:nth-child(2) {
      background-image: url(../multimedia/peugeot-208-lightspeed.jpg);
      background-position: center;
      background-size: cover; }
    .contenedor .contenedor__slide:nth-child(3) {
      background-image: url(../multimedia/c4.jpg);
      background-size: cover;
      background-position: center; }
    .contenedor .contenedor__slide:nth-child(4) {
      background-image: url(../multimedia/3008ESTORE.jpg);
      background-size: cover;
      background-position: center; }
    .contenedor .contenedor__slide:nth-child(5) {
      background-image: url(../multimedia/ranger-raptor.jpg);
      background-size: cover;
      background-position: center; }

.menuNovedades {
  background-color: #2c2c2c;
  margin-top: 700px; }
  .menuNovedades * {
    margin: 0%; }
  .menuNovedades h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
    color: aliceblue; }
  .menuNovedades .peugeot, .menuNovedades .ford, .menuNovedades .citroen {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .menuNovedades .peugeot div, .menuNovedades .citroen div, .menuNovedades .ford div {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .menuNovedades .peugeot div h3, .menuNovedades .citroen div h3, .menuNovedades .ford div h3,
      .menuNovedades .peugeot div p,
      .menuNovedades .citroen div p,
      .menuNovedades .ford div p {
        display: flex;
        flex-direction: row;
        justify-content: start;
        color: aliceblue; }
  .menuNovedades .ford {
    flex-direction: row-reverse; }
    .menuNovedades .ford div h3,
    .menuNovedades .ford div p {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }

.tabla {
  margin-top: 50px; }
  .tabla div, .tabla .menuNovedades .ford div, .menuNovedades .ford .tabla div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .tabla div h2, .tabla .menuNovedades .ford div h2, .menuNovedades .ford .tabla div h2 {
      text-decoration: underline; }
    .tabla div table thead, .tabla .menuNovedades .ford div table thead, .menuNovedades .ford .tabla div table thead {
      border-bottom: 2px solid black; }
    .tabla div table tbody tr, .tabla .menuNovedades .ford div table tbody tr, .menuNovedades .ford .tabla div table tbody tr {
      border-bottom: 1px solid darkgray; }

.menu2 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .menu2 h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    text-decoration: double underline; }
  .menu2 p {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: large; }
    .menu2 p span {
      color: #3374db;
      font-weight: bold; }

.tarjeta {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .tarjeta .cards {
    background: linear-gradient(45deg, #3374db 30%, #a5a5a5 30%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 10px; }
    .tarjeta .cards img {
      max-width: 100%;
      height: 300px; }
    .tarjeta .cards h5,
    .tarjeta .cards p {
      font-weight: bold;
      color: #fff; }

.menu3 img {
  width: 910px;
  height: 710px;
  object-fit: cover;
  object-position: center; }

.menu3 .menu3__taller1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(-160deg, #f2f0f0 70%, #3374db 30%); }
  .menu3 .menu3__taller1 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-weight: bolder; }
  .menu3 .menu3__taller1 div img {
    max-width: 100%;
    max-height: 100%;
    padding: 40px; }

.menu3 .menu3__taller2 {
  background: linear-gradient(160deg, #f2f0f0 70%, #3374db 30%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .menu3 .menu3__taller2 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: justify;
    font-weight: bolder;
    font-size: large; }
  .menu3 .menu3__taller2 div img {
    max-width: 100%;
    max-height: 100%;
    padding: 30px; }

.pie--usados {
  margin-top: 0%; }

.contacto {
  background-image: url(../multimedia/atencion.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  color: aliceblue; }
  .contacto img {
    max-height: 100%; }
  .contacto .divCont {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto .divCont h3 {
      display: flex;
      flex-direction: row;
      justify-content: center; }
  .contacto .consultas {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-start-start-radius: 8%;
    border-end-end-radius: 8%;
    height: 140px; }
    .contacto .consultas p {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .contacto .consultas div {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .contacto .consultas div a {
        color: aliceblue;
        text-decoration: none;
        border-radius: 10px;
        width: 136px;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.3s; }
        .contacto .consultas div a:hover {
          width: 105px;
          height: 35px; }

.formCont {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .formCont div, .formCont .menuNovedades .ford div, .menuNovedades .ford .formCont div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .formCont .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #bdb9b996;
    box-shadow: -10px 0px 10px 0px black, 10px 0px 10px 0px black;
    border-radius: 3%; }
    .formCont .formulario .form-select {
      margin-top: 15px; }
    .formCont .formulario .input-group {
      margin-top: 15px; }
    .formCont .formulario .mb-3 {
      margin-top: 15px;
      width: 100%; }
    .formCont .formulario .area {
      height: 100px;
      transition: 1s; }
      .formCont .formulario .area:focus {
        height: 300px; }
    .formCont .formulario .bton {
      display: flex;
      gap: 10px;
      margin-top: 20px; }
      .formCont .formulario .bton .bton1, .formCont .formulario .bton .bton2 {
        width: 200px;
        height: 40px;
        padding: 5px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 3px darkblue; }
        .formCont .formulario .bton .bton1:focus, .formCont .formulario .bton .bton2:focus {
          background-color: #789ec1; }

/*MEDIA QUERI*/
@media (max-width: 768px) {
  .header {
    border-bottom: none; }
    .header div .logo {
      display: none; }
    .header div .logo2 {
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 150px;
      height: 50px;
      object-fit: scale-down;
      margin-top: 7px;
      transform: translateX(-20px); }
    .header .navbar {
      flex-direction: row; }
      .header .navbar .navbar__checkbtn {
        display: block; }
      .header .navbar .navbar__icon {
        position: fixed;
        right: 20px;
        top: 15px;
        filter: invert(1); }
        .header .navbar .navbar__icon img {
          display: block; }
      .header .navbar .navbar__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 10px;
        top: 70px;
        left: -100%;
        background-color: #2c2c2c;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 100%;
        max-height: 100vh;
        right: 0;
        transition: all 0.5s; }
        .header .navbar .navbar__nav a {
          font-weight: normal; }
      .header .navbar #toggler:checked ~ .navbar__nav {
        left: 0%; }
  .carousel {
    display: none; }
  .carruseldemovil {
    display: block; }
  .menu {
    margin-top: 60px;
    height: auto;
    width: 100%;
    margin-left: 0%; }
    .menu article {
      width: auto;
      margin-top: 30px; }
    .menu img {
      width: 80%;
      height: 50%; }
  .razones {
    background: linear-gradient(45deg, #3374db 50%, #fff 50%);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1800px; }
    .razones div h2, .razones .menuNovedades .ford div h2, .menuNovedades .ford .razones div h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black; }
    .razones .razones1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center; }
      .razones .razones1 .razones__card {
        height: 500px;
        justify-content: center;
        align-self: center;
        margin-top: 20px; }
  .pie {
    margin-top: 50px; }
    .pie .pie__legal {
      display: flex;
      align-items: flex-start; }
    .pie .pie__links {
      display: flex;
      flex-direction: column;
      font-size: 20px; }
      .pie .pie__links div {
        display: flex;
        justify-content: space-evenly; } }

@media (min-width: 768px) and (max-width: 992px) {
  .header .navbar .navbar__checkbtn {
    display: block; }
  .header .navbar .navbar__icon {
    position: fixed;
    right: 20px;
    top: 15px;
    filter: invert(1); }
    .header .navbar .navbar__icon img {
      display: block; }
  .header .navbar .navbar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 10px;
    top: 70px;
    left: -100%;
    background-color: #2c2c2c;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s; }
    .header .navbar .navbar__nav li {
      padding: 0.5rem; }
    .header .navbar .navbar__nav a {
      font-weight: normal; }
  .header .navbar #toggler:checked ~ .navbar__nav {
    left: 0%; }
  .menu {
    display: flex;
    flex-direction: column; }
    .menu img {
      width: 60%;
      height: 40%;
      border-radius: 5%; }
    .menu article {
      margin-top: 30px;
      width: auto; }
  .navimg__item1 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px; }
    .navimg__item1 a {
      font-size: 16px; }
    .navimg__item1:hover {
      height: 400px; }
  .navimg__item2 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px; }
    .navimg__item2 a {
      font-size: 16px; }
    .navimg__item2:hover {
      height: 400px; }
  .navimg__item3 {
    width: 400px;
    height: 400px; }
    .navimg__item3:hover {
      height: 400px; }
  .razones {
    background: linear-gradient(45deg, #3374db 50%, #fff 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1800px; }
    .razones div h2, .razones .menuNovedades .ford div h2, .menuNovedades .ford .razones div h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black; }
    .razones .razones1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .razones .razones1 .razones__card {
        height: 500px;
        margin-top: 20px; } }

@media (max-width: 768px) {
  .menu1 .menu1__marca__itemA {
    font-size: 20px;
    margin-right: 0%;
    margin-left: 0%;
    transform: skew(0deg); }
  .menu1 .menu1__marca__itemB {
    color: aliceblue;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg); }
  .menu1 .menu1__marca__itemC {
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg); }
  .contenedor {
    display: flex;
    flex-direction: column;
    cursor: pointer; }
  .menu11 .ford div h3,
  .menu11 .ford div p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .tabla * {
    padding: 0; }
  .tabla table {
    margin-top: 40px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .menu11 .peugeot, .menu11 .menuNovedades .ford, .menuNovedades .menu11 .ford, .menu11 .menuNovedades .citroen, .menuNovedades .menu11 .citroen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .menu11 .ford {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .menu11 .ford div h3,
    .menu11 .ford div p {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
  .menu11 .citroen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; } }

@media (max-width: 768px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; }
    .tarjeta .cards {
      margin-right: 0px; }
      .tarjeta .cards img {
        object-fit: scale-down; } }

@media (min-width: 768px) and (max-width: 992px) {
  .menu2 {
    display: flex;
    justify-content: center; }
    .menu2 h3 {
      text-align: center;
      font-weight: bold; }
    .menu2 p {
      margin-top: 10px;
      font-size: medium;
      text-align: center; }
  .card {
    width: 350px;
    height: 450px; } }

@media (max-width: 768px) {
  .menu3 .menu3__taller1 {
    background: none;
    background-color: #CCCFD2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; }
    .menu3 .menu3__taller1 div img {
      max-width: 100%;
      height: 70%;
      padding: 40px;
      object-fit: cover;
      object-position: center; }
    .menu3 .menu3__taller1 p {
      font-size: 30px; }
  .menu3 .menu3__taller2 {
    background: none;
    background-color: #CCCFD2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .menu3 .menu3__taller2 div img {
      max-width: 100%;
      height: 70%;
      padding: 40px;
      object-fit: cover;
      object-position: center; }
    .menu3 .menu3__taller2 p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      font-size: 16px; }
  .pie--usados {
    margin-top: 0%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .menu3 img {
    width: 710px;
    height: 610px; }
  .menu3 .menu3__taller1 {
    background: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-content: center; }
    .menu3 .menu3__taller1 img {
      max-width: 100%;
      max-height: 100%;
      padding: 50px; }
    .menu3 .menu3__taller1 p {
      align-self: center; }
  .menu3 .menu3__taller2 {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
    .menu3 .menu3__taller2 div img {
      max-height: 100%;
      max-width: 100%;
      padding: 50px; }
    .menu3 .menu3__taller2 p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      font-size: large; }
  .pie--usados {
    margin-top: 0%; } }

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%; }
  .contacto .divCont {
    align-content: flex-start; }
  .contacto .consultas {
    height: 140px; }
  .formCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1100px;
    margin-top: 50px; }
    .formCont .bton {
      justify-content: center; }
    .formCont .input-group {
      display: flex;
      flex-direction: column; }
      .formCont .input-group .form-control {
        width: 200px; }
    .formCont .mb-3 {
      display: flex;
      flex-direction: column; }
      .formCont .mb-3 .area {
        height: 20px;
        transition: 1s; }
        .formCont .mb-3 .area:focus {
          height: 100px; } }

@media (min-width: 768px) and (max-width: 992px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; }
  .divCont {
    display: flex;
    justify-content: center; }
  .formCont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    margin-top: 50px; } }
