@import "variables";
.pie {
  margin-top: 150px;
  background-color:map-get($estilos,color);
  @include flexbox(flex, column);
  color: map-get($estilos, colorF)
}

.pie__links {
  @include flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  div{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
  }
  a {
    font-size: 25px;
    @include flex;
    text-decoration: none;
    color: map-get($estilos,colorF);
    transition: 1s;
    &:hover {
      color: rgb(11, 127, 199);
      font-size: 50px;
    }
  }
  }
.pie__legal {
  margin-top: 30px;
  @include flexbox(flex, column);
  align-items: center;
  border-top: 1px solid white;
}
