@import "variables";
.pie {
  margin-top: 150px;
  background-color:$colorFooter ;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  h2 {
    text-align: center;
    text-decoration: underline;
  }
}
.pie__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  a {
    color: aliceblue;
    transition: 1s;
    &:hover {
      color: rgb(11, 127, 199);
      font-size: 50px;
    }
  }
}
.pie__legal {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 2px solid white;
}
