.logo {
  border-radius: 10%;
  width: 130px;
  height: 100px;
  animation-name: animacion;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  position: absolute;
  margin-top: 10px;
}
