/*MEDIA QUERI INDEX*/
@media (min-width: 768px) and (max-width: 992px) {
  .navbar {
    justify-content: space-between;
    a {
      padding-right: 0px;
    }
  }

  .menu {
    height: 600px;
    width: 100%;
    article {
      width: auto;
    }
    img {
      width: 35%;
      height: 75%;
      border-radius: 5%;
    }
  }

  .navimg__item1 {
    margin-bottom: 10px;
  }
  .navimg__item2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .header {
    border-bottom: none;
  }
  .logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .navbar__checkbtn {
    display: block;
  }
  .navbar__icon {
    position: fixed;
    right: 20px;
    top: 15px;
    img {
      display: block;
    }
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 1px;
    top: 70px;
    left: -100%;
    background-color: #a5a5a5;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
    li {
      padding: 1rem;
    }
  }

  #toggler:checked ~ .navbar__nav {
    left: 0%;
  }
  .navbar__subnav {
    background-image: none;
  }

  .carousel {
    display: none;
  }
  .menu {
    margin-top: 60px;
    height: auto;
    width: 100%;

    article {
      width: auto;
    }
    .img {
      width: 80%;
    }
  }

  .navimg__item1 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .navimg__item2 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .navimg__item3 {
    width: 300px;
    height: 300px;
  }

  .pie__legal {
    display: flex;
    align-items: flex-start;
    h3 {
      font-size: 15px;
    }
  }
  .pie__links {
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(50px);
    font-size: 20px;
    width: 60%;
  }
  .pie h2 {
    text-align: left;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    transform: translateY(75px);
  }
}

@media (max-width: 768px) {
  .cabeza1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
  }
  .logo--okm {
    margin-top: 100px;
  }
  .navbar1 {
    flex-direction: column;
    justify-content: center;
  }
  .navbar1 .navbar1__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 70px;
    left: -100%;
    background-color: #a5a5a5;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
    gap: 10px;
  }

  #toggler:checked ~ .navbar1__nav {
    left: 0%;
  }
  .navbar1 {
    justify-content: start;
  }
  .navbar1 .navbar1__nav {
    flex-direction: column;
    gap: 5px;
  }
  .menu1__marca__itemA {
    font-size: 20px;
    margin-right: 0%;
    margin-left: 0%;
    transform: skew(0deg);
  }
  .menu1__marca__itemB {
    color: aliceblue;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg);
  }
  .menu1__marca__itemC {
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg);
  }
}