/*MEDIA QUERI*/
//INDEX
@media (max-width: 768px) {
  .header {
    border-bottom: none;
    div {
      .logo {
        display: none;
      }
      .logo2 {
        @include flexx(flex, row, start);
        @include size(150px, 50px);
        object-fit: scale-down;
        margin-top: 7px;
        transform: translateX(-20px);
      }
    }
    .navbar {
      flex-direction: row;
      .navbar__checkbtn {
        display: block;
      }
      .navbar__icon {
        position: fixed;
        right: 20px;
        top: 15px;
        filter: invert(1);
        img {
          display: block;
        }
      }
      .navbar__nav {
        @include flexx(flex, column, center);
        align-items: center;
        position: fixed;
        padding: 10px;
        top: 70px;
        left: -100%;
        background-color: map-get($estilos, color);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 100%;
        max-height: 100vh;
        right: 0;
        transition: all 0.5s;
        a {
          font-weight: normal;
        }
      }
      #toggler:checked ~ .navbar__nav {
        left: 0%;
      }
    }
  }
  .carousel {
    display: none;
  }
  .carruseldemovil {
    display: block;
  }
  .menu {
    margin-top: 60px;
    height: auto;
    width: 100%;
    margin-left: 0%;
    article {
      width: auto;
      margin-top: 30px;
    }
    img {
      @include size(80%, 50%);
    }
  }
  
  .razones {
    background: linear-gradient(45deg, #3374db 50%, #fff 50%);
    margin-top: 120px;
    @include flexx(flex, column, space-evenly);
    height: 1800px;

    div {
      h2 {
        @include flexx(flex, row, center);
        color: map-get($estilos, colorf2);
      }
    }
    .razones1 {
      @include flexx(flex, column, center);
      align-self: center;
      .razones__card {
        height: 500px;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
      }
    }
  }

  .pie {
    margin-top: 50px;
    .pie__legal {
      display: flex;
      align-items: flex-start;
    }
    .pie__links {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-evenly;
      }
      font-size: 20px;
    }
  }
}

// media de 768 a 992
@media (min-width: 768px) and (max-width: 992px) {
  .header {
    .navbar {
      .navbar__checkbtn {
        display: block;
      }
      .navbar__icon {
        position: fixed;
        right: 20px;
        top: 15px;
        filter: invert(1);
        img {
          display: block;
        }
      }
      .navbar__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding: 10px;
        top: 70px;
        left: -100%;
        background-color: map-get($estilos, color);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 100%;
        max-height: 100vh;
        right: 0;
        transition: all 0.5s;
        li {
          padding: 0.5rem;
        }
        a {
          font-weight: normal;
        }
      }

      #toggler:checked ~ .navbar__nav {
        left: 0%;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    img {
      width: 60%;
      height: 40%;
      border-radius: 5%;
    }
    article {
      margin-top: 30px;
      width: auto;
    }
  }

  .navimg__item1 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    a {
      font-size: 16px;
    }
    &:hover {
      height: 400px;
    }
  }
  .navimg__item2 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    a {
      font-size: 16px;
    }
    &:hover {
      height: 400px;
    }
  }
  .navimg__item3 {
    width: 400px;
    height: 400px;
    &:hover {
      height: 400px;
    }
  }
  .razones {
    background: linear-gradient(45deg, #3374db 50%, #fff 50%);
    @include flexx(flex, column, space-evenly);
    height: 1800px;
    div {
      h2 {
        @include flexx(flex, row, center);
        color: map-get($estilos, colorf2);
      }
    }
    .razones1 {
      @include flexx(flex, column, center);
      align-items: center;
      .razones__card {
        height: 500px;
        margin-top: 20px;
      }
    }
  }
}

//SECCION 0KM
@media (max-width: 768px) {
  .menu1 {
    .menu1__marca__itemA {
      font-size: 20px;
      margin-right: 0%;
      margin-left: 0%;
      transform: skew(0deg);
    }
    .menu1__marca__itemB {
      color: map-get($estilos, colorF);
      font-size: 20px;
      margin-left: 0%;
      margin-right: 0%;
      transform: skew(0deg);
    }
    .menu1__marca__itemC {
      font-size: 20px;
      margin-left: 0%;
      margin-right: 0%;
      transform: skew(0deg);
    }
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .menu11 {
    .ford {
      div {
        h3,
        p {
          @include flexx(flex, row, flex-start);
        }
      }
    }
  }
  .tabla {
    * {
      padding: 0;
    }
    table {
      margin-top: 40px;
    }
  }
}
//media de 768 a 992
@media (min-width: 768px) and (max-width: 992px) {
  .menu11 {
    .peugeot {
      @include flexx(flex, column, space-around);
      align-items: center;
    }
    .ford {
      @include flexx(flex, column, space-around);
      align-items: center;
      div {
        h3,
        p {
          @include flexx(flex, row, flex-start);
        }
      }
    }
    .citroen {
      @include flexx(flex, column, space-around);
      align-items: center;
    }
  }
}

//SECCION USADOS
@media (max-width: 768px) {
  .tarjeta {
    @include flexx(flex, column, center);
    margin: 0;
    .cards {
      margin-right: 0px;
      img {
        object-fit: scale-down;
      }
    }
  }
}
//Media 768 a 992px
@media (min-width: 768px) and (max-width: 992px) {
  .menu2 {
    display: flex;
    justify-content: center;
    h3 {
      text-align: center;
      font-weight: bold;
    }
    p {
      margin-top: 10px;
      font-size: medium;
      text-align: center;
    }
  }
  .card {
    @include size(350px, 450px);
  }
}

//SECCION SERVICIOS
@media (max-width: 768px) {
 
  .menu3 {
    .menu3__taller1 {
      background:none;
      background-color: #CCCFD2;
      @include flexx(flex, column-reverse, center);
      div img {
        max-width: 100%;
        height: 70%;
        padding: 40px;
        object-fit: cover;
        object-position: center;
      }
      p {
        font-size: 30px;
      }
    }
    .menu3__taller2 {
      background: none;
      background-color: #CCCFD2;
      @include flexx(flex, column, center);
      div img {
        max-width: 100%;
        height: 70%;
        padding: 40px;
        object-fit: cover;
        object-position: center;
      }
      p {
        @include flexx(flex, row, center);
        align-self: center;
        font-size: 16px;
      }
    }
  }
  .pie--usados {
    margin-top: 0%;
  }
}

//media de 768 a 992
@media (min-width: 768px) and (max-width: 992px) {
  .menu3 {
    img {
      @include size(710px, 610px);
    }
    .menu3__taller1 {
      background: none;
      @include flexx(flex, column-reverse, space-evenly);
      align-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        padding: 50px;
      }
      p {
        align-self: center;
      }
    }
    .menu3__taller2 {
      background: none;
      
      @include flexx(flex, column, space-evenly);
      align-content: center;
      div img {
        max-height: 100%;
        max-width: 100%;
        padding: 50px;
      }
      p {
        @include flexx(flex, column, center);
        align-self: center;
        font-size: large;
      }
    }
  }
  .pie--usados {
    margin-top: 0%;
  }
}

//SECCION CONTACTOS 
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  .contacto {
    .divCont {
      align-content: flex-start;
    }
    .consultas {
      height: 140px;
    }
  }
  .formCont {
    @include flexx(flex, column, space-between);
    height: 1100px;
    margin-top: 50px;
    .bton {
      justify-content: center;
    }
    .input-group {
      display: flex;
      flex-direction: column;
      .form-control {
        width: 200px;
      }
    }
    .mb-3 {
      display: flex;
      flex-direction: column;
      .area {
        height: 20px;
        transition: 1s;
        &:focus {
          height: 100px;
        }
      }
    }
  }
}
//Media de 768 a 992
@media (min-width: 768px) and (max-width: 992px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .divCont {
    display: flex;
    justify-content: center;
  }
  .formCont {
    @include flexx(flex, column, space-around);
    align-items: center;
    height: 1000px;
    margin-top: 50px;
  }
}
