/*MEDIA QUERI INDEX*/
@media (max-width: 768px) {
  .header {
    border-bottom: none;
    padding-top: 10px;
  }
  .logo {
    @include size(40px, 40px);
  }
  .navbar__checkbtn {
    display: block;
  }
  .navbar__icon {
    position: fixed;
    right: 20px;
    top: 15px;
    filter: invert(1);
    img {
      display: block;
    }
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: 0px;
    top: 70px;
    left: -100%;
    background-color: map-get($estilos, color);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
    li {
      padding: 0.5rem;
    }
    a {
      font-weight: normal;
    }
  }

  #toggler:checked ~ .navbar__nav {
    left: 0%;
  }
  .navbar__subnav {
    background-image: none;
  }

  .carousel {
    display: none;
  }
  .menu {
    margin-top: 60px;
    height: auto;
    width: 100%;
    margin-left: 0%;

    article {
      width: auto;
      margin-top: 30px;
    }
    .img {
      width: 80%;
    }
  }

  .navimg__item1 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    &:hover {
      height: 300px;
    }
  }
  .navimg__item2 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    &:hover {
      height: 300px;
    }
  }
  .navimg__item3 {
    width: 300px;
    height: 300px;
    &:hover {
      height: 300px;
    }
  }

  .pie__legal {
    display: flex;
    align-items: flex-start;
  }
  .pie__links {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-evenly;
    }
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar {
    justify-content: space-between;
    a {
      padding-right: 0px;
    }
    .navbar__checkbtn {
      display: block;
    }
    .navbar__icon {
      position: fixed;
      right: 20px;
      top: 15px;
      filter: invert(1);
      img {
        display: block;
      }
    }
    .navbar__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      gap: 0px;
      top: 70px;
      left: -100%;
      background-color: map-get($estilos, color);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s;
      li {
        padding: 0.5rem;
      }
      a {
        font-weight: normal;
      }
    }

    #toggler:checked ~ .navbar__nav {
      left: 0%;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    article {
      margin-top: 30px;
      width: auto;
    }
    .img {
      width: 40%;
      height: 40%;
      border-radius: 5%;
    }
  }

  .navimg__item1 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    &:hover {
      height: 400px;
    }
  }
  .navimg__item2 {
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    &:hover {
      height: 400px;
    }
  }
  .navimg__item3 {
    width: 400px;
    height: 400px;
    &:hover {
      height: 400px;
    }
  }
}

/*MEDIA QUERIES 0KM*/
@media (max-width: 768px) {
  .header--okm {
    padding-bottom: 10px;
  }
  .navbar1 {
    flex-direction: column;
    justify-content: start;
    .navbar1__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 50px;
      z-index: 4;
      left: -100%;
      background-color: map-get($estilos, color);
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s;
      padding: 5px;
      gap: 5px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }

  #toggler:checked ~ .navbar1__nav {
    left: 0%;
  }

  .menu1__marca__itemA {
    font-size: 20px;
    margin-right: 0%;
    margin-left: 0%;
    transform: skew(0deg);
  }
  .menu1__marca__itemB {
    color: map-get($estilos, colorF);
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg);
  }
  .menu1__marca__itemC {
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    transform: skew(0deg);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header--okm {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar__checkbtn {
    display: block;
  }
  .navbar__icon {
    position: fixed;
    right: 20px;
    top: 15px;
    filter: invert(1);
    img {
      display: block;
    }
  }
  .navbar1 {
    flex-direction: column;
    justify-content: start;
    .navbar1__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 50px;
      z-index: 4;
      left: -100%;
      background-color: map-get($estilos, color);
      width: 100%;
      max-height: 100vh;
      right: 0;
      transition: all 0.5s;
      padding: 5px;
      gap: 5px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }

  #toggler:checked ~ .navbar1__nav {
    left: 0%;
  }
}

/*USADOS*/
@media (max-width: 768px) {
  .header--usados {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar__icon--usados {
    right: 15px;
    top: 10px;
  }

  .cabeza2__navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 50px;
    left: -100%;
    background-color: map-get($estilos, color);
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
  }
  #toggler:checked ~ ul {
    left: 0%;
  }
  .menu2 {
    justify-content: center;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: flex;
    align-self: center;

    width: 250px;
    height: 400px;
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    @include size(350px, 450px);
  }
  .cabeza2__navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 50px;
    left: -100%;
    background-color: map-get($estilos, color);
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
  }
  #toggler:checked ~ ul {
    left: 0%;
  }

  .menu2 {
    display: flex;
    justify-content: center;

    h3 {
      text-align: center;
      font-weight: bold;
    }
    article p {
      margin-top: 10px;
      font-size: medium;
      text-align: center;
    }
  }
}
/*SERVICIOS*/
/*@media (max-width: 768px) {
  .cabeza3__navbar__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    position: fixed;
    top: 40px;
    left: -100%;
    background-color: #fff;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
    z-index: 6;
    .cabeza3__navbar__subnav {
      background-image: none;
    }
  }

  .cabeza3__navbar {
    font-weight: normal;
  }

  #toggler:checked ~ ul {
    left: 0%;
  }
  .menu3 {
    .menu3__taller1 {
      height: 600px;
      @include flexx(flex,column,center);
      #taller1s {
        @include size(300px,300px);
      }
      p{
        width: 100%;
        margin-left: 30%;
      }

    }
    
  }

  .menu3__taller2 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    p {
      font-size: 16px;
    }
    #taller2s {
      width: 300px;
      height: 300px;
    }
  }
  

}*/

@media (min-width: 768px) and (max-width: 970px) {
  
  .menu3__taller1 {
    height: 400px;
    p {
      margin-left: 50px;
      font-size: 30px;
    }
    #taller1s {
      width: 500px;
      height: 500px;
    }
  }

  
  .menu3__taller2 {
    height: 500px;
    
    #taller2s {
      @include size(500px,500px)
    }
  }
  
}
/*CONTACTO*/
/*
@media (max-width: 768px) {
  .navbar__icon--contactos {
    filter: invert(1);
  }

  .navbar4__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
    position: fixed;
    top: 50px;
    left: -100%;
    background-color: #fff;
    width: 100%;
    max-height: 100vh;
    right: 0;
    transition: all 0.5s;
    #nav1 {
      background-image: none;
    }
    a {
      color: black;
    }
  
  }
  .consultas{
    
  }
  
}

@media (min-width: 768px) and (max-width: 970px) {
  .fondo {
    background-image: url(../multimedia/peugeot-208-lightspeed.jpg);
    background-size: cover;
    background-position: center;
  }
  .cabeza4__navbar ul {
    justify-content: flex-start;
  }
  .divCont {
    display: flex;
    justify-content: center;
  }
  .pie__legal {
    display: flex;
    align-items: flex-start;
  }
  .pie__pie--contactos h2 {
    text-align: left;
    font-size: 20px;
  }
  .form-select {
    width: 80%;
  }
  .input-group {
    margin-top: 15px;
    width: 80%;
  }
  .mb-3 {
    margin-top: 15px;
    width: 80%;
  }
}
*/