$colorFondo: linear-gradient(#d1cfcf, #fff); 
$colorFooter:rgb(44, 44, 44);
$colorFooterB: #b3b3b3;
$colorFuenteDeLink: aliceblue;

@mixin flexbox($flex,$direction,) {
    display: $flex;
    flex-direction: $direction;
    
}

@mixin flexx ($flex,$direction,$justify){
    display: $flex;
    flex-direction:$direction;
    justify-content: $justify;
}
@mixin size ($width, $height){
    width: $width;
    height: $height;
}
    
$estilos: (
    color:rgb(44, 44, 44),
    colorF:aliceblue,
    colorf2:black,
    centro: center,
    gap:50px,
);
$redes:(
    facebook:#3b5998,
    instagram: #833AB4,
    youtube: #c4302b,
    whatsapp:#075e54,
);
@each $red, $color in $redes {
    .bton3--#{$red} {
        background-color: $color;
    } 
}

