@import "variables";
@import "header";
@import "logo";
@import "footer";

.container-fluid {
  margin: 0%;
  background-image: $colorFondo;
}

@keyframes animacion {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

.navbar {
  @include flexx(flex, row, space-between);
  align-items: center;
  padding-top: 10px;
  a {
    color: $colorFuenteDeLink;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid rgb(11, 127, 199);
    }
  }
}
.navbar__nav {
  @include flexx(flex,row,space-between);
  padding-top: 10px;
  gap: map-get($estilos, gap);
  li {
    &:hover .navbar__subnav {
      display: block;
      left: 0%;
      width: 90%;
    }
    ul {
      list-style: none;
    }
  }
  .navbar__subnav {
    display: none;
    position: absolute;
    background-color:#fff;
    width:70%;
    left: -100%;
    padding: 20px;
    margin-left: 20%;
    background-image: url(../multimedia/2081);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y:center;
    animation-name: animacion;
    animation-duration: 0.2s;
    a{
      color: black;
      font-weight: bold;
    }
    ul li {
      position: relative;
      display: block;
      color: black;
    }
  }
}


.navbar__icon {
  img {
    @include size(30px, 30px);
    display: none;
  }
}
#toggler {
  display: none;
}
/*CORRUSEL*/
.carousel {
  margin-top: 10px;
}
.carousel-item {
  @include size(100%, 800px);
  background-color: rgb(0, 0, 0);
  background-blend-mode: soft-light;
  img {
    object-fit: cover;
    @include size(50%, 100%);
    opacity: 30%;
  }
}
.carousel-caption {
  transform: translateY(-300px);
  h5 {
    font-size: 60px;
  }
  p {
    color: #b3b3b3;
  }
}
/*MENU*/
.menu {
  @include flexx(flex, row, space-evenly);

  align-items: center;
  color: black;
  margin-top: 15px;
  height: 850px;
  p {
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
  }
  section {
    @include flexx(flex, column, center);
    width: 500px;
  }
  .img {
    border-radius: 5%;
    @include size(40%, 60%);
    box-shadow: -10px 10px 20px 0px black;
  }
  h2 {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
  }
}

.navimg {
  margin-top: 80px;
  @include flexx(flex, row, space-around);
}
.navimg__item1 {
  @include size(500px, 500px);
  @include flexx(flex, row, center);
  background-image: url(../multimedia/208-MastheadComponent-Desktop.png);
  background-size: 180%;
  background-position: center;
  align-items: flex-end;
  transition: all 1s;
  &:hover {
    background-size: 200%;
    background-position: center;
  }
  a {
    color: $colorFuenteDeLink;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    @include flexx(flex, row, center);
    align-items: center;
    @include size(200px, 50px);
    transform: translateY(-50px);
    transition: 1s all;
    &:hover {
      border: 1px solid #a5a5a5;
      color: #a5a5a5;
    }
  }
}
.navimg__item2 {
  @include flexx(flex, row, center);
  @include size(500px, 500px);
  background-image: url(../multimedia/AP_2018_ATELIER-VIDANGE_WORKSHOP-DRAIN_002_1214x1020.jpg);
  background-size: 120%;
  background-position: center;
  align-items: flex-end;
  transition: all 1s;
  &:hover {
    background-size: 140%;
    background-position: center;
  }
  a {
    color: $colorFuenteDeLink;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    @include flexx(flex, row, center);
    align-items: center;
    @include size(350px, 50px);
    border: 1px solid #fff;
    transform: translateY(-50px);
    transition: 1s all;
    &:hover {
      border: 1px solid #a5a5a5;
      color: #a5a5a5;
    }
  }
}
.navimg__item3 {
  @include flexx(flex, row, center);
  @include size(500px, 500px);
  background-image: url(../multimedia/fases-de-una-consultoría-integral.jpg);
  background-size: 180%;
  background-position: center;
  align-items: flex-end;
  transition: all 1s;
  &:hover {
    background-size: 200%;
    background-position: center;
  }
  a {
    color: $colorFuenteDeLink;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    @include flexx(flex, row, center);
    align-items: center;
    @include size(350px, 50px);
    border: 1px solid #fff;
    transform: translateY(-50px);
    transition: 1s all;
    &:hover {
      border: 1px solid #a5a5a5;
      color: #a5a5a5;
    }
  }
}
.razones {
  background: linear-gradient(45deg, #3374db 70%, #fff 30%);
  margin-top: 120px;
  @include flexx(flex, column, space-around);
  height: 500px;
  div {
    h2 {
      @include flexx(flex, row, center);
      color: map-get($estilos, colorF);
      text-decoration: underline;
    }
  }
  .razones1 {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    div img{
      @include size(610px,610px)
    }
    .razones__card {
      background-color: map-get($estilos, color);
      @include flexx(flex, column, space-evenly);
      height: 350px;
      div img {
        background-blend-mode: soft-light;
        max-width: 100%;
        height: 220px;
        object-fit: cover;
        opacity: 50%;
        &:hover{
          opacity: 100%;
          background-blend-mode:luminosity;
        }
      }
      .razones__cuerpo {
        color: map-get($estilos, colorF);
        h4 {
          @include flexx(flex, row, center);
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

/*SECCION OKM*/

.navbar1 {
  @include flexx(flex, row, space-between);
  align-items: center;
  .navbar1__nav {
    @include flex;
    padding-top: 15px;
    padding-right: 30px;
    gap: map-get($estilos, gap);
    li {
      list-style: none;
      display: flex;
      a {
        text-decoration: none;
        color: $colorFuenteDeLink;
        &:hover {
          border-bottom: 2px solid rgb(11, 127, 199);
        }
      }
    }
  }
}
.menu1 {
  padding-top: 70px;
  p a {
    text-decoration: none;
    color: $colorFuenteDeLink;
  }
}

.menu1__marca__itemA {
  margin-top: 50px;
  background-color: darkblue;
  display: flex;
  color: map-get($estilos, colorF);
  font-size: 30px;
  margin-right: 70%;
  margin-left: 15px;
  transform: skew(-35deg);
}
.menu1__marca__itemB {
  margin-top: 10px;
  background-color: darkblue;
  display: flex;
  justify-content: start;
  color: map-get($estilos, colorF);
  font-size: 30px;
  margin-left: 27.5%;
  margin-right: 25px;
  transform: skew(-35deg);
}
.menu1__marca__itemC {
  margin-top: 10px;
  background-color: darkblue;
  display: flex;
  justify-content: start;
  color: map-get($estilos, colorF);
  font-size: 30px;
  margin-left: 26%;
  margin-right: 45px;
  transform: skew(-35deg);
}
.contenedor {
  margin-top: 80px;
  position: absolute;
  @include size(100%, 400px);
  @include flex;
  border: 2px solid black;
  cursor: pointer;
  height: 500px;
}
.contenedor__slide {
  position: relative;
  height: 100%;
  flex: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  &:hover {
    flex-grow: 5;
  }
  &:nth-child(1) {
    background-image: url(../multimedia/territory);
    background-size: cover;
    background-position: center;
  }
  &:nth-child(2) {
    background-image: url(../multimedia/peugeot-208-lightspeed.jpg);
    background-position: center;
    background-size: cover;
  }
  &:nth-child(3) {
    background-image: url(../multimedia/c4);
    background-size: cover;
    background-position: center;
  }
  &:nth-child(4) {
    background-image: url(../multimedia/3008ESTORE.jpg);
    background-size: cover;
    background-position: center;
  }
  &:nth-child(5) {
    background-image: url(../multimedia/ranger-raptor);
    background-size: cover;
    background-position: center;
  }
}
.tabla {
  margin-top: 650px;
  @include flexbox(flex, column);
  align-items: center;
  h2 {
    text-decoration: underline;
  }
  table {
    margin-top: 50px;
    width: 70%;
  }
}

/*SECCION USADOS*/

.cabeza2__navbar {
  @include flexx(flex, row, space-between);
  align-items: center;
  ul {
    @include flex;
    padding-right: 30px;
    padding-top: 10px;
    gap: map-get($estilos, gap);
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: map-get($estilos, colorF);
        &:hover {
          border-bottom: 2px solid rgb(11, 127, 199);
        }
      }
    }
  }
}

.menu2 {
  margin-top: 50px;
  @include flexbox(flex, column);
  h3 {
    @include flex;
    justify-content: center;
    font-weight: bold;
  }
  p {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
  }
}
.tarjetas {
  @include flexx(flex, row, center);

  .card {
    max-width: 100%;
    background-color: #a5a5a5;
    margin-right: 30px;
    display: flex;
    margin-bottom: 15px;
    img {
      max-width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .card-body {
      @include flexx(flex, column, center);
      align-items: center;
      .btn {
        background-color: rgba(0, 0, 0, 0.5);
        &:hover {
          background-color: deepskyblue;
        }
      }
    }
    a {
      color: $colorFuenteDeLink;
      border: 1px solid aliceblue;
      text-decoration: none;
      padding: 5px;
      margin-bottom: 20px;
    }
  }
}

/*SERVICIOS*/
.menu3 {
  img {
    @include size(910px, 810px);
  }
  .menu3__taller1 {
    @include flexx(flex, row, space-evenly);
    background: linear-gradient(-160deg, #fff 70%, #3374db 30%);
    p {
      @include flexx(flex, row, center);
      align-items: center;
      color: map-get($estilos, colorf2);
      font-size: 50px;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
    }
    img {
      padding: 100px;
    }
  }
  .menu3__taller2 {
    background: linear-gradient(160deg, #b3b3b3 70%, #3374db 30%);
    @include flexx(flex, row-reverse , space-evenly);
    p {
      @include flexx(flex, row, center);
      align-items: center;
      font-family: "Roboto", sans-serif;
      color: map-get($estilos, colorF);
      text-align: center;
      font-size: x-large;
      font-weight: lighter;
    }
    img {
      padding: 100px;
    }
  }
}
.pie--usados {
  margin-top: 0%;
}
/*CONTACTOS*/ /*CONTACTOS*/
* {
  margin: 0%;
  padding: 0%;
}
.cabeza4__navbar {
  @include flexx(flex, row, space-between);
  align-items: center;
  padding-top: 10px;
  a {
    color: $colorFuenteDeLink;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid rgb(11, 127, 199);
    }
  }
  li {
    list-style: none;
    &:hover #nav1 {
      display: block;
      left: 0%;
    }
    &:hover #nav2 {
      @include flexbox(flex, column);
      position: relative;
    }
  }
  .navbar4__nav {
    @include flexx(flex, row, space-around);
    gap: map-get($estilos, gap);
    #nav1 {
      display: none;
      position: absolute;
      background-color: #fff;
      width: 70%;
      left: -100%;
      padding: 20px;
      margin-left: 35%;
      background-image: url(../multimedia/2081);
      background-size: 25%;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: center;
      animation-name: animacion;
      animation-duration: 0.2s;
      a {
        color: black;
        font-weight: bold;
      }
    }
    #nav2 {
      display: none;
      position: absolute;
    }
  }
}
.contacto {
  background-image: url(../multimedia/atencion);
  background-size: cover;
  background-position: center;
  @include flexx(flex, column, space-around);
  align-items: center;
  height: 600px;
  color: map-get($estilos, colorF);
  img {
    max-height: 100%;
  }
  .divCont {
    background-color: rgba(0, 0, 0, 0.398);
    @include flexbox(flex, column);
    h3 {
      @include flexx(flex, row, center);
    }
    p {
      @include flex;
    }
  }
  .consultas {
    margin-top: 20px;
    height: 120px;
    background-color: map-get($estilos, color);
    @include flexx(flex, column, center);
    border-start-start-radius: 20%;
    border-end-end-radius: 20%;
    p {
      @include flexx(flex, row, center);
    }
    div {
      @include flexx(flex, row, center);
      a {
        color: $colorFuenteDeLink;
        text-decoration: none;
        border-radius: 10px;
        @include size(100px, 30px);
        @include flexx(flex, row, center);
        align-items: center;
        transition: all 0.3s;
        &:hover {
          @include size(105px, 35px);
        }
      }
    }
  }
}
/*FORM*/
.formCont {
  margin-top: 100px;
  @include flexx(flex, row, space-evenly);
  div {
    @include flex;
    align-items: center;
  }
  .formulario {
    @include flexbox(flex, column);
    align-items: center;
    color: black;
    background-color: #bdb9b996;
    box-shadow: -10px 0px 10px 0px black, 10px 0px 10px 0px black;
    border-radius: 3%;
    .form-select {
      margin-top: 15px;
    }
    .input-group {
      margin-top: 15px;
    }
    .mb-3 {
      margin-top: 15px;
      width: 100%;
    }
    .area {
      height: 100px;
      transition: 1s;
      &:focus {
        height: 300px;
      }
    }
    .bton {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      .bton1 {
        width: 200px;
        height: 40px;
        padding: 5px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 3px darkblue;
        &:focus {
          background-color: #789ec1;
        }
      }
      .bton2 {
        @extend .bton1;
      }
    }
  }
}

@import "mediaqueries";
