@import "variables";
@import "header";
@import "logo";
@import "footer";

.container-fluid {
  margin: 0%;
  background-image: $colorFondo;
  font-family: "Lexend Exa", sans-serif;
}

@keyframes animacion {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

/*CORRUSEL*/
.carousel {
  * {
    padding: 0%;
  }
  .carousel-indicators {
    margin: 0%;
    padding-bottom: 15px;
  }
  .carousel-item {
    @include size(100%, 800px);
    background-color: rgb(0, 0, 0);
    background-blend-mode: soft-light;
    img {
      object-fit: cover;
      @include size(50%, 100%);
      opacity: 30%;
    }
  }
  .carousel-caption {
    transform: translateY(-300px);
    h5 {
      font-size: 60px;
    }
    p {
      color: #b3b3b3;
    }
  }
}

/*MENU*/
.menu {
  @include flexx(flex, row, space-evenly);

  align-items: center;
  color: black;
  margin-top: 15px;
  height: 850px;
  p {
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
  }
  section {
    @include flexx(flex, column, center);
    width: 500px;
  }
  .img {
    border-radius: 5%;
    @include size(40%, 60%);
    box-shadow: -10px 10px 20px 0px black;
  }
  h2 {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
  }
}

.navimg {
  margin-top: 80px;
  @include flexx(flex, row, space-around);
  .navimg__item1 {
    @include size(500px, 500px);
    @include flexx(flex, row, center);
    background-image: url(../multimedia/208-MastheadComponent-Desktop.png);
    background-size: 180%;
    background-position: center;
    align-items: flex-end;
    transition: all 1s;
    &:hover {
      background-size: 200%;
      background-position: center;
    }
    a {
      color: $colorFuenteDeLink;
      text-decoration: none;
      border: 1px solid #fff;
      background-color: rgba(0, 0, 0, 0.5);
      @include flexx(flex, row, center);
      align-items: center;
      @include size(200px, 50px);
      transform: translateY(-50px);
      transition: 1s all;
      &:hover {
        border: 1px solid #a5a5a5;
        color: #a5a5a5;
      }
    }
  }
  .navimg__item2 {
    @include flexx(flex, row, center);
    @include size(500px, 500px);
    background-image: url(../multimedia/AP_2018_ATELIER-VIDANGE_WORKSHOP-DRAIN_002_1214x1020.jpg);
    background-size: 120%;
    background-position: center;
    align-items: flex-end;
    transition: all 1s;
    &:hover {
      background-size: 140%;
      background-position: center;
    }
    a {
      color: $colorFuenteDeLink;
      background-color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      text-align: center;
      @include flexx(flex, row, center);
      align-items: center;
      @include size(350px, 50px);
      border: 1px solid #fff;
      transform: translateY(-50px);
      transition: 1s all;
      &:hover {
        border: 1px solid #a5a5a5;
        color: #a5a5a5;
      }
    }
  }
  .navimg__item3 {
    @include flexx(flex, row, center);
    @include size(500px, 500px);
    background-image: url(../multimedia/fases-de-una-consultoría-integral.jpg);
    background-size: 180%;
    background-position: center;
    align-items: flex-end;
    transition: all 1s;
    &:hover {
      background-size: 200%;
      background-position: center;
    }
    a {
      color: $colorFuenteDeLink;
      background-color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      text-align: center;
      @include flexx(flex, row, center);
      align-items: center;
      @include size(350px, 80px);
      border: 1px solid #fff;
      transform: translateY(-50px);
      transition: 1s all;
      &:hover {
        border: 1px solid #a5a5a5;
        color: #a5a5a5;
      }
    }
  }
}

.razones {
  background: linear-gradient(45deg, #3374db 70%, #a5a5a5 30%);
  margin-top: 120px;
  @include flexx(flex, column, space-around);
  height: 700px;

  div {
    h2 {
      @include flexx(flex, row, center);
      color: map-get($estilos, colorF);
      text-decoration: underline;
    }
  }
  .razones1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div img {
      @include size(610px, 610px);
    }
    .razones__card {
      background-color: map-get($estilos, color);
      @include flexx(flex, column, space-evenly);
      height: 580px;
      max-width: 100%;
      div img {
        background-blend-mode: soft-light;
        max-width: 100%;
        height: 280px;
        padding: 5px;
        object-fit: cover;
        opacity: 50%;
        &:hover {
          opacity: 100%;
          background-blend-mode: luminosity;
        }
      }
      .razones__cuerpo {
        color: map-get($estilos, colorF);
        height: 100px;
        h4 {
          @include flexx(flex, row, center);
        }
        p {
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

/*SECCION OKM*/
.menu1 {
  padding-top: 70px;
  article {
    h2 {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: darkblue;
    }
  }
}

.menu1__marca__itemA {
  margin-top: 50px;
  background-color: darkblue;
  display: flex;
  color: map-get($estilos, colorF);
  font-size: 30px;
  margin-right: 70%;
  margin-left: 15px;
  transform: skew(-35deg);
}
.menu1__marca__itemB {
  margin-top: 10px;
  background-color: darkblue;
  display: flex;
  justify-content: start;
  color: map-get($estilos, colorF);
  font-size: 30px;
  margin-left: 27.5%;
  margin-right: 25px;
  transform: skew(-35deg);
}
.menu1__marca__itemC {
  margin-top: 10px;
  background-color: darkblue;
  display: flex;
  justify-content: start;
  color: map-get($estilos, colorF);
  font-size: 30px;
  margin-left: 26%;
  margin-right: 45px;
  transform: skew(-35deg);
}
.contenedor {
  padding: 0%;
  margin-top: 80px;
  position: absolute;
  @include size(100%, 400px);
  @include flex;
  border: 2px solid black;
  cursor: pointer;
  height: 500px;
  .contenedor__slide {
    position: relative;
    height: 100%;
    flex: 1;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    &:hover {
      flex-grow: 5;
    }
    &:nth-child(1) {
      background-image: url(../multimedia/territory.jpg);
      background-size: cover;
      background-position: center;
    }
    &:nth-child(2) {
      background-image: url(../multimedia/peugeot-208-lightspeed.jpg);
      background-position: center;
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url(../multimedia/c4.jpg);
      background-size: cover;
      background-position: center;
    }
    &:nth-child(4) {
      background-image: url(../multimedia/3008ESTORE.jpg);
      background-size: cover;
      background-position: center;
    }
    &:nth-child(5) {
      background-image: url(../multimedia/ranger-raptor.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

.menu11 {
  * {
    margin: 0%;
  }
  background-color: $colorFooter;
  h1 {
    @include flexx(flex, row, center);
    font-weight: bold;
    margin-bottom: 15px;
    color: map-get($estilos, colorF);
  }
  margin-top: 700px;
  .peugeot {
    background-color: black;
    @include flexx(flex, row, space-between);
    div {
      @include flexx(flex, column, center);
      h3,
      p {
        @include flexx(flex, row, start);
        color: map-get($estilos, colorF);
      }
    }
  }
  .ford {
    @extend .peugeot;
    flex-direction: row-reverse;
    div {
      @extend div ;
      h3,
      p {
        @include flexx(flex, row, flex-end);
      }
    }
  }
  .citroen {
    @extend .peugeot;
  }
}

.tabla {
  margin-top: 50px;
  div {
    @include flexx(flex, column, center);
    h2 {
      text-decoration: underline;
    }
    table {
      thead {
        border-bottom: 2px solid black;
      }
      tbody {
        tr {
          border-bottom: 1px solid darkgray;
        }
      }
    }
  }
}

/*SECCION USADOS*/
.menu2 {
  margin-top: 50px;
  @include flexx(flex, row, center);
  h3 {
    @include flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: double underline;
  }
  p {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
    span {
      color: darkblue;
      font-weight: bold;
    }
  }
}
.tarjeta {
  @include flexx(flex, row, center);
  .cards {
    background-color: darkgray;
    @include flexx(flex, column, center);
    align-items: center;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: 350px;
    }
  }
}

/*SERVICIOS*/
.menu3 {
  img {
    @include size(910px, 710px);
    object-fit: cover;
    object-position: center;
  }
  .menu3__taller1 {
    @include flexx(flex, row, space-between);
    background: linear-gradient(-160deg, #fff 70%, #3374db 30%);
    p {
      @include flexx(flex, row, center);
      align-items: center;
      color: map-get($estilos, colorf2);
      font-size: 50px;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
    }
    div img {
      max-width: 100%;
      max-height: 100%;
      padding: 30px;
    }
  }
  .menu3__taller2 {
    background: linear-gradient(160deg, #b3b3b3 70%, #3374db 30%);
    @include flexx(flex, row-reverse, space-between);
    p {
      @include flexx(flex, row, center);
      align-items: center;
      font-family: "Roboto", sans-serif;
      color: map-get($estilos, colorF);
      text-align: justify;
      font-weight: bolder;
      font-size: large;
      font-family: "Lexend Exa", sans-serif;
    }
    div img {
      max-width: 100%;
      max-height: 100%;
      padding: 30px;
    }
  }
}
.pie--usados {
  margin-top: 0%;
}

/*CONTACTOS*/ /*CONTACTOS*/
.contacto {
  background-image: url(../multimedia/atencion.jpg);
  background-size: cover;
  background-position: center;
  @include flexx(flex, column, space-around);
  align-items: center;
  height: 600px;
  color: map-get($estilos, colorF);
  img {
    max-height: 100%;
  }
  .divCont {
    background-color: rgba(0, 0, 0, 0.4);
    @include flexbox(flex, column);
    align-items: center;
    h3 {
      @include flexx(flex, row, center);
    }
  }
  .consultas {
    background-color: map-get($estilos, color);
    @include flexx(flex, column, center);
    border-start-start-radius: 8%;
    border-end-end-radius: 8%;
    height: 140px;
    p {
      @include flexx(flex, row, center);
    }
    div {
      @include flexx(flex, row, center);
      a {
        color: $colorFuenteDeLink;
        text-decoration: none;
        border-radius: 10px;
        @include size(100px, 30px);
        @include flexx(flex, row, center);
        align-items: center;
        transition: all 0.3s;
        &:hover {
          @include size(105px, 35px);
        }
      }
    }
  }
}
.formCont {
  margin-top: 100px;
  @include flexx(flex, row, space-evenly);

  div {
    @include flex;
    align-items: center;
  }
  .formulario {
    @include flexbox(flex, column);
    align-items: center;
    color: black;
    background-color: #bdb9b996;
    box-shadow: -10px 0px 10px 0px black, 10px 0px 10px 0px black;
    border-radius: 3%;
    .form-select {
      margin-top: 15px;
    }
    .input-group {
      margin-top: 15px;
    }
    .mb-3 {
      margin-top: 15px;
      width: 100%;
    }
    .area {
      height: 100px;
      transition: 1s;
      &:focus {
        height: 300px;
      }
    }
    .bton {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      .bton1 {
        width: 200px;
        height: 40px;
        padding: 5px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 3px darkblue;
        &:focus {
          background-color: #789ec1;
        }
      }
      .bton2 {
        @extend .bton1;
      }
    }
  }
}

@import "mediaqueries";
